# Session Data files
.RData

# History files
.Rhistory
.Rapp.history

# Mac folder preferences
.DS_Store

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
.Rproj.user

# Packrat files
tests/testthat/packrat/
packrat-scenario*/
packrat/lib*/

# Googlesheets auth files
.httr-oauth

# temp file
articles_mod.csv
